@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

input {
    text-align: center;

}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 125px;
    text-align: left;
}
h2 {
    font-family: 'Unbounded', cursive;
}

#response-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    z-index: -1;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-end;
    align-content: center;
    height: fit-content;
    width: fit-content;
    
}


#box-selector {
    margin: 10px;
    font-family: "Rubik", sans-serif;
}

#parent {
    display: flex;
  }

input#question-input {
    font-size: 30px;
    box-sizing: content-box;
    width: 50%;
}

button {
    margin: auto;
    color: white;
    background-color: transparent;
    font-weight: 900;
    border-color: transparent;
}


#question-form {
    background-color: white;
    color: black;
    padding: 5em;
    width: 45%;
    text-align: left;
    font-family: Rubik, sans-serif;

}

.container {
    overflow: auto;
    /* clear the floats */
    padding: 10px;
    font-family: "Rubik", sans-serif;
}





#question-form input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Rubik, sans-serif;
    margin-top: 20px;
    float: left;
    /* float the form to the left */
    width: 50%;
    /* specify a width for the form */
}

#container {
    display: flex;
    justify-content: center;
}